[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:olivercodes/hugo-theme-cactus.git
